<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="roomcomfirmation.css">
</head>
<body>
    <section class="container-1">
        <div>
            <h2>Comfirm Room Selection</h2>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td>Selected Room</td>
                    <td>-</td>
                    <td>Kantanga</td>
                </tr>
                
                <tr>
                    <td>Room Type</td>
                    <td>-</td>
                    <td>4 in 1</td>
                </tr>

                <tr>
                    <td>Floor</td>
                    <td>-</td>
                    <td>Ground Floor</td>
                </tr>
                
                <tr>
                    <td>Room number</td>
                    <td>-</td>
                    <td>28</td>
                </tr>
            </tbody>
        </table>
        <button id="btn">Proceed To Payment</button>
    </section>
</body>
</html>