<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Help Desk</title>
</head>
<body>
    <div class="blackbox">
    <div class="container">

        <div class="row">
          <h2 class="top">Help Desk</h2>
            <div class="col-lg-4 col-sm-12 col-md-6">
              <h2 class="top">STEPS TO BOOK ROOM </h2>
              <p>1. To book a room go to the book room page. This can be accessed by clicking on the
                book room link on the home page.</p>
              <p>2. Select the hall of preference</p>
              <p>3. Select floor and room preferred. Make sure to confirm the booking and proceed to
                the payment page.</p>
              <p>4. Payments can be made based on the provided options.</p>
            </div>
    
            <div class="col-lg-4 col-sm-12 col-md-6">
              <h2 class="warn">WARNING</h2>
              <p>Payments are not refundable.
    
                Rooms would be lost after the 48hrs of grace period.
                
                Rooms canceled would attract a fee of Gh50 on the next booking.</p>
            </div>
    
            <div class="col-lg-4 col-sm-12 col-md-6">
              <h2 class="top">ROOM DETAILS</h2>
              <p>The room details help ypu know your roommates. This section has all details about your 
                roommates, their program of study and contact information. 
                
                You can also cancel you room over here.</p>
            </div>
    
            <div class="lower col-lg-4 col-sm-12 col-md-6">
              <p>email: knustedu.gamil.com</p>
              <p>Phone: 0248587648</p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>