*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
  color: #000;
  font-family: Inter;
  font-size: auto;
  font-style:inherit;
  font-weight: 600;
}

#background{
  background: url(mainbg.png) no-repeat center;
  background-size: cover;
  height: 100vh;
}


.top{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  height: 60px;
  width: 60px;
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.blackbox{
  width: 90%;
  margin: auto;
  height: 500px;
  justify-content: center;
  opacity: .8;
  background-color:black ;
  border-radius: 6px;
  color: white;
}
button{
  color: white;
  padding: 0.5rem 2rem;
  margin: 30px 3rem 0 3rem;
  margin-top: 30px;
  margin-right: 3rem;
  background-color: #ff0000;
  border-radius: 6px;
  border: none;
  align-items: center;
  justify-content: center;
}
h3{
  margin: 0 1rem 0 3rem; 
}
.col1{
  padding: 20px;
}
.main tr td{
  padding: 0 25px 0 0;
}

.table{
  width: 80%;
  margin: 6rem auto;
  justify-content: center;
  border: 1px solid rgb(184, 177, 177);
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  border-spacing: 0;
}
.table thead tr th {
  text-transform: uppercase;
  padding: 0.8rem;
}

.table tbody tr td {
  color: rgb(0, 0, 0);
  padding: 0.8rem 1.2rem;
  text-align: center;
}

.table tr{
  transition: all .2s ease-in;
  cursor: pointer;
}

.table td, th{
  border-bottom: 1px solid #ccc;
  height: 50px;
} 
.table tbody tr td:first-child {
  text-align: left;
}

.table tbody tr {
  background: white;
}
.table thead tr {
  background: white;
}
.table tbody tr:hover{
  transform: scale(1.02);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
} 
