<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a2bc7d519c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Payment.css">
</head>
<body>
    <section class="container-2">
        <i class="fa-regular fa-circle-check"></i>
        <div>
            <h2>Payment Successful</h2>
        </div>
        <table class="table-2">
            <thead>
                <tr>
                    <th>PAYMENT DETAILS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Payment amount</td>
                    <td>GH 4,500</td>
                </tr>
    
                <tr>
                    <td>Payment Method</td>
                    <td>Mobile Money</td>
                </tr>
    
                <tr>
                    <td>Payment Date</td>
                    <td>20th July, 2023</td>
                </tr>
            </tbody>
        </table>
        <button id="btn-1">Finish</button>
    </section>
</body>
</html>